.cardContainer {
    width: 300px;
    height: 100px;
    border: 2px solid #fff;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      #1B1B1B 40%
    );
    cursor: pointer;

    @media only screen and (min-width: 1200px) {
      width: 30%;
      height: 250px;
    }
}

.title {
    font-size: 30px;
    font-weight: 500;

}