.cardContainer {
    width: 30%;
    height: 250px;
    border: 2px solid #fff;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      #1B1B1B 40%
    );
    cursor: pointer;
}

.title {
    font-size: 30px;
    font-weight: 500;

}