.pageWrapper {
    margin: 70px 100px 0 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timerText{
    margin-top: 100px;
    font-size: 100px;
}

.buttonWrapper {
    margin-top: 50px;
    display: flex;
    gap: 100px;
}

.startButton {
    font-size: 20px;
    padding: 15px 40px;
    background-color: #EF4C01;
    border: 2px solid #EF4C01;
    border-radius: 8px;
}

.resetButton {
    font-size: 20px;
    padding: 15px 40px;
    border-radius: 8px;
}

.optionWrapper {
    display: flex;
    flex-direction: row;
    gap: 100px;
    margin-top: 40px;
}

.option {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.optionTitle {
    font-size: 30px;
}

.plus {
    padding: 4px 30px;
    border: 2px solid white;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}